In [1]:
import pandas as pd
import numpy as np
 
from project_functions import load
from project_functions import prune
from project_functions import wrangle

In [2]:
df = prune(wrangle(load("../../data/raw/meteorite-landings.csv")))
df

,Name,ID,Status,Class,Mass (g),Fall,Year,Latitude,Longitude,GeoLocation
0,Aachen,1.0,Valid,L5,21.0,Observed,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2.0,Valid,H6,720.0,Observed,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6.0,Valid,EH4,107000.0,Observed,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10.0,Valid,Acapulcoite,1914.0,Observed,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370.0,Valid,L6,780.0,Observed,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
...,...,...,...,...,...,...,...,...,...,...
31700,Zillah 002,31356.0,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037000, 17.018500)"
31701,Zinder,30409.0,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.783330, 8.966670)"
31702,Zlin,30410.0,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.250000, 17.666670)"
31703,Zubkovsky,31357.0,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.789170, 41.504600)"
31704,Zulu Queen,30414.0,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.983330, -115.683330)"

In [3]:
df.to_csv('processed_data.csv')

In [4]:
dfFound=df[df['Fall']=='Found']
dfSeen = df[df['Fall']== 'Observed']

dfFound.to_csv('found_processed_data.csv')
dfSeen.to_csv('seen_processed_data.csv')

In [6]:
df2 = df[df['Latitude'] > -60] 
antarctica = df[df['Latitude']<= -60]
antarctica.to_csv('antarctica.csv')

north = df2[df2['Latitude'] > 10] 
northamerica = north[north['Longitude'] < -50]
northamerica.to_csv('northamerica.csv')

south = df2[df2['Latitude'] <= 10] 
southamerica = south[south['Longitude'] < -40]
southamerica.to_csv('southamerica.csv')

europe = df2[df2['Latitude'] >= 35] 
europe = europe[europe['Longitude'] >= 10]
europe.to_csv('europe.csv')

asia = df2[df2['Latitude'] >= 0] 
asia = asia[asia['Longitude'] >= 50]
asia.to_csv('asia.csv')


africa.to_csv('africa.csv')
oceania.to_csv('oceania.csv')

NameError: name 'antarctica' is not defined